<h1>My Garage</h1>
<% @favourites.each do |favourite| %>
  <p><%= favourite.car.brand %></p>
  <p><%= favourite.car.model %></p>
  <%= link_to "Delete", favourite_path(favourite),
    data: {turbo_method: :delete,
    turbo_cofirm: "Do you really want to take the #{favourite.car.model} out of your garage?"
    } %>
  <hr>
<% end %>
